unidad_04/22-01-28/Ejercicios/_Ejercicio9DTD.dtd

<!ENTITY % t "(#PCDATA)" >
<!ELEMENT persona (nombre, nacimiento?, direccion+, varon)>
<!ELEMENT nombre %t;>
<!ELEMENT nacimiento EMPTY>
  <!ATTLIST nacimiento 
                  dia CDATA #IMPLIED
                  mes CDATA #IMPLIED
                  anyo CDATA #IMPLIED>
<!ELEMENT direccion (calle, poblacion, provincia, cpostal)>
<!ELEMENT calle %t;>
<!ELEMENT poblacion %t;>
<!ELEMENT provincia %t;>
<!ELEMENT cpostal %t;>
<!ELEMENT varon EMPTY>