unidad_04/22-01-28/Ejercicios/_Ejercicio6DTD.dtd

<!ENTITY % t "(#PCDATA)" >
<!ELEMENT vuelos (panel_aeropuerto, vuelo+, panel_fecha)>
<!ELEMENT vuelo (Diario?, Origen, Destino, Hora_salida, Hora_llegada)>
    <!ATTLIST vuelo Código ID #REQUIRED>
<!ELEMENT panel_aeropuerto %t;>
<!ELEMENT Diario EMPTY>
<!ELEMENT Origen %t;>
<!ELEMENT Destino %t;>
<!ELEMENT Hora_salida %t;>
<!ELEMENT Hora_llegada %t;>
<!ELEMENT panel_fecha %t;>