unidad_04/22-01-28/Ejercicios/Ejercicio6DTD.dtd

<!ELEMENT vuelos (vuelo+)>
<!ELEMENT vuelo (aeropuerto_origen, aeropuerto_destino, datos_vuelo, fecha_panel)>
  <!ATTLIST vuelo Código ID #REQUIRED>
  <!ATTLIST vuelo Estado (C | E | R) "E">
<!ELEMENT aeropuerto_origen (#PCDATA)>
<!ELEMENT aeropuerto_destino (#PCDATA)>
<!ELEMENT datos_vuelo ()>
<!ELEMENT fecha_panel (#PCDATA)>
  