unidad_04/Examen/V11Enunciado4-c.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="regiones">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="region"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="region">
    <xs:complexType mixed="true">
      <xs:attribute name="habitantes" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
